[submodule "u-boot"]
	path = u-boot
	url = https://github.com/u-boot/u-boot.git
[submodule "linux-stable"]
	path = linux-stable
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
[submodule "ethernet/verilog-ethernet"]
	path = ethernet/verilog-ethernet
	url = https://github.com/alexforencich/verilog-ethernet.git
[submodule "generators/testchipip"]
	path = generators/testchipip
	url = https://github.com/ucb-bar/testchipip.git
[submodule "generators/gemmini"]
	path = generators/gemmini
	url = https://github.com/ucb-bar/gemmini
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv/opensbi.git
[submodule "generators/riscv-boom"]
	path = generators/riscv-boom
	url = https://github.com/jzmoolman/riscv-boom.git
	branch = fork
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/jzmoolman/rocket-chip
	branch = fork
[submodule "generators/sifive-cache"]
	path = generators/sifive-cache
	url = git@github.com:jzmoolman/rocket-chip-inclusive-cache.git
